


h1, h2, input[type="text"], .button, .menu .icon span, .rank span, .rank li:before, 
.card .damaged, .card .heal, .card .missed, .game-overlay .version, .baloon/*, .map .card .current .hp span*/ {
  font-family: "Inter", Impact, sans-serif;
}

noscript, .card h1 {
  line-height: 28px;
  font-family: "Inter", "Lucida Sans Unicode", "Lucida Grande", 'Segoe UI', Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

.option-state .game-overlay span, .topbar *, .choose .counter, .vs.state .vsplayerinfo, .vs.state .vsenemyinfo {
  font-family: "Inter", "Lucida Sans Unicode", "Lucida Grande", 'Segoe UI', Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

.card .buffs .buff span, .baloon .battle, .versus, .log b, .rank li {
  font-family: "Inter", Impact, sans-serif;;
}

